grant {
  permission java.net.SocketPermission "localhost:8000", "accept,listen,connect, resolve";
  permission java.net.SocketPermission "127.0.0.1:*", "accept,resolve";
  permission java.util.PropertyPermission "scala.time", "read";
};
